.unit-selector {
  flex-direction: column;
  border: 0;
}

.unit-selector button {
  border: 1px solid #777;
  padding: 2px;
}

.unit-selector-dark button {
  color: #ccc;
  background-color: #232323;
}

.unit-select-button-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.unit-select-button-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
