.nav {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.nav button {
  background: transparent;
  border: none;
}

.nav-dark img {
  filter: invert(100%) sepia(0%) saturate(7453%) hue-rotate(333deg) brightness(94%) contrast(92%);
}
