.nav {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100vw;
  background-color: #b6bdaa;
}

.nav button {
  background: transparent;
  border: none;
}

.nav-dark {
  background-color: #191919;
}
.nav-dark img {
  filter: invert(100%) sepia(0%) saturate(7453%) hue-rotate(333deg) brightness(94%) contrast(92%);
}
