.sidebar {
  position: fixed;
  height: 100%;
  width: 150px;
  border-left: 1px solid #333;
}

.sidebar-light {
  background-color: #dadbc3;
} 

.sidebar-dark {
  background-color: #333;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sidebar-content button {
  background: transparent;
  margin-top: 2rem;
  border: none;
  text-transform: capitalize;
}

.sidebar-content a {
  text-decoration: none;
}

.sidebar-content-light button {
  color: #45060c;
}

.sidebar-content-dark button {
  color: #eee;
}

.sidebar-content-light a {
  color: #45060c;
}

.sidebar-content-dark a {
  color: #eee;
}
