.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  height: 30px;
  justify-content: space-between;
  padding-inline: 30px;
  padding-block: 10px;
}

.footer-light {
  background-color: #242424;
}

.footer-dark {
  background-color: #191919;
}

.footer-dark a {
  color: #ddd;
}

.footer a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  text-align: center;
}

.footer-light a{
  color: #fff;
}

@media only screen and (max-width: 350px) {
  .footer a {
    font-size: 17px;
  }

  .middle-link {
    padding-inline: 5px;
  }
}

@media only screen and (max-width: 230px) {
  .footer a {
    font-size: 10px;
  }
}
