* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max(100%, fit-content);
}

.app-light {
  background-color: #e7e8d5;
}

.app-dark {
  background-color: #262626;
}

.label-dark {
  color: #ccc;
}

.unit-input {
  border-radius: 0.5em;
}

.unit-input {
  -moz-appearance: textfield;
}

.unit-input::-webkit-inner-spin-button
.unit-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab {
  margin-left: 15px;
}
